body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CONTENEDOR PRINCIPAL */
#game {
    padding: 40px 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

/* ===== OPCIONES ===== */

#opciones {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 30px;
}

/* Cuadros 10% más pequeños */
.opcion {
    width: 252px;
    height: 252px;
    background: #ffffff;
    color: #111111;
    border: 4px solid #333;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
}

/* ===== RECTÁNGULO SUPERIOR ===== */
/* 252 + 80 + 252 = 584px */

.header-box {
    width: 584px;
    margin: 40px auto 0 auto;
    padding: 30px 20px;
    background: #ffffff;
    color: #111111;
    border: 4px solid #333;
    border-radius: 25px;
    box-sizing: border-box;
}

/* Texto interno */
#game-title {
    margin-top: 0;
}

#info {
    margin: 10px 0;
    font-weight: bold;
}

#instruccion {
    margin-top: 15px;
}

#pregunta {
    font-size: 28px;
    margin: 20px 0;
}

